Video/Curio-XR filter=lfs diff=lfs merge=lfs -text
Chemistry.mp4 filter=lfs diff=lfs merge=lfs -text
Video/GraphingCalculator.MOV filter=lfs diff=lfs merge=lfs -text
Video/Skeletal.MOV filter=lfs diff=lfs merge=lfs -text
